<div class="row">
  <% if @orders %>
    <% @orders.each do |order| %>
      <div class="col s10 m10 l5" style="margin: 20px 15px">
        <div class="card horizontal z-depth-1">
          <div class="card-image valign-wrapper" style="width: 60px">
            <%= image_tag "narwal_flag.svg", style: "margin-left: -20px"%>
          </div>
          <div class="card-stacked">
            <div class="card-content" style="padding-left: 0;">
              <p>
                <% if order.customer %>
                  <span style="font-weight: bold;">
                    <%= order.customer.last_name %> <%= order.customer.first_name %>
                  </span> made a narwhal order.
                <% else  %>
                  <span>A narwhal order was made without an assigned customer.</span>
                <% end %>
              </p>
              <p style="color: gray">ORDER #<%= order.number %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
